<form class="row g-1">
    <h3>Datos paciente</h3>
    <hr />
    <div class="col-12">
        <label for="colFormLabelSm" class="form-label">Rut</label>
        <input type="text" class="form-control" id="colFormLabelSm" placeholder="Rut" required>
    </div>
    <div class="col-12">
        <label for="colFormLabelSm" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="colFormLabelSm" placeholder="Nombre" required>
    </div>
    <div class="col-12">
        <label for="colFormLabelSm" class="form-label">Apellido</label>
        <input type="text" class="form-control" id="colFormLabelSm" placeholder="Apellido" required>
    </div>
    <p></p>
    <h3>Receta</h3>
    <hr />
    <div class="col-12">
        <label for="colFormLabelSm" class="form-label"><b>OD</b></label>
    </div>
    <div class="col-md-4">
        <label for="colFormLabelSm" class="form-label">Esf</label>
        <input type="number" class="form-control" id="colFormLabelSm" step="0.25" required>
    </div>
    <div class="col-md-4">
        <label for="colFormLabelSm" class="form-label">Cil</label>
        <input type="number" class="form-control" id="colFormLabelSm" step="0.25" required>
    </div>
    <div class="col-md-4">
        <label for="colFormLabelSm" class="form-label">A</label>
        <input type="number" class="form-control" id="colFormLabelSm" name="quantity" min="0" max="360" required>
    </div>
    <div class="col-12">
        <label for="colFormLabelSm" class="form-label"><b>OI</b></label>
    </div>
    <div class="col-md-4">
        <label for="colFormLabelSm" class="form-label">Esf</label>
        <input type="number" class="form-control" id="colFormLabelSm" step="0.25" required>
    </div>
    <div class="col-md-4">
        <label for="colFormLabelSm" class="form-label">Cil</label>
        <input type="number" class="form-control" id="colFormLabelSm" step="0.25" required>
    </div>
    <div class="col-md-4">
        <label for="colFormLabelSm" class="form-label">A</label>
        <input type="number" class="form-control" id="colFormLabelSm" min="0" max="360" required>
    </div>
    <div class="col-12">
        <label for="colFormLabelSm" class="form-label">Diagnostico</label>
        <textarea class="form-control"></textarea>
    </div>
    <div class="col-12">
        <label for="colFormLabelSm" class="form-labbel">Observaciones</label>
        <textarea class="form-control"></textarea>
    </div>
    <p></p>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
</form>